#message {
    width: 432px;
    display: none;
    background: #ffffff;
    position: absolute;
    z-index: 10;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
    line-height: 1.5;
}

.valid {
    color: #CFD8DC;
}

.invalid {
    color: #607D8B;
}

.error {
  width  : 100%;

  margin-top: 4px;

  color: #F44336;
  font-size: 14px;
  line-height: 24px;
}
